.popUpSuccses {
  position: fixed;

  width: 95%;
  height: 95vh;
  z-index: 100;
  opacity: 1;
  left: 2.5%;
  top: 2.5%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* backdrop-filter: invert(90%); */
  background-color: var(--primary-color);
  animation: scaleDown 3s ease-in-out;
}

.popUpSuccses h2 {
  color: var(--secondary-color);
  font-size: 3em;
  text-align: center;
}

@keyframes scaleDown {
  0% {
    height: 95vh;
    background-color: #a785e2;
    top: 2.5%;
    transform: scaleY(100%);
  }
  90% {
    height: 20vh;
    background-color: #493965;
    top: 40%;
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(0%);
  }
}
